<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
   
      <h4>Languages I've Worked With</h4>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-ruby-plain colored"></i>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
    
      <h4>Frameworks I've Worked With</h4>
      		
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-react-original colored"></i>
      <i class="devicon-drupal-plain colored"></i>
      <i class="devicon-amazonwebservices-original colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <i class="devicon-express-original colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-wordpress-plain colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-bootstrap-plain colored"></i>
              
    
    
    
  </div>
</div>
